button {cursor: pointer;}

.list {list-style-type: none;}

.link {text-decoration: none;}

body {font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #FCFCFC}

.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-plus {color: var(--NAVY-BLUE, #2E2F42);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;}

.nav-link {color: var(--NAVY-BLUE, #2E2F42);
    /* Body Medium */
    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;}

    .nav-link:hover, .nav-link:focus {color: #404BBF ;}

    .contacts-link {color: var(--SLATE, #434455);
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;}

               
.contacts-link:hover {color: #404BBF ;}

    