button {cursor: pointer;
background-color: #4D5AE5;
color: var(--WHITE, #FFF);
    /* Button Text */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;}

.pressbaton:hover {color: #404BBF;}

.list {list-style-type: none;}

.link {text-decoration: none;}

body {font-family: 'Roboto', sans-serif;}


.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-plus {color: var(--NAVY-BLUE, #2E2F42);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;}

.nav-link {color: var(--NAVY-BLUE, #2E2F42);
    /* Body Medium */
    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;}

    .nav-link:hover, .nav-link:focus, nav-link:active {color: #404BBF ;}

    .contacts-link {color: var(--SLATE, #434455);
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;}

               
.contacts-link:hover {color: #404BBF ;}

h1 {color: #FFF;}
.banner {background-color: #2E2F42;}
.banner-item {color: var(--WHITE, #FFF);
    text-align: center;
    /* Header 1 */
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 0.02em;;}

    .team {background-color: #F4F4FD;}
    .tit {color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        /* Header 2 */
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;}

        .the-end {background-color: #2e2f42;}
        .logo-end {color: var(--IRIS, #4D5AE5);
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 21px; /* 116.667% */
            letter-spacing: 0.54px;
            text-transform: uppercase;}
            
         .logo-end-plus {color: var(--CLOUD, #F4F4FD);
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 21px; /* 116.667% */
            letter-spacing: 0.54px;
            text-transform: uppercase;}   

       .paragh {color: var(--CLOUD, #F4F4FD);
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 0.32px;}

    
    


    